@using LTWEB2.Models

@model SanPham

@section view_title{
    <span class="caption-lg-red"> @Model.TenSanPham</span>
}

@section css{
    <style type="text/css">
        .caption-lg-orange {
            font-weight: bold;
            font-size: 13pt;
            color: #fc6e04;
        }

        .caption-lg-red {
            font-weight: bold;
            font-size: 11pt;
            color: #f00;
        }
        .padding{
            padding-top:8px;

        }
    </style>

}
<div class="row">
    <div class="col-md-12">
        <img width="300" height="400" src=" ~/Hinh/SP/@Model.SanPhamID/main_hinh.jpg" title="@Model.TenSanPham" />

    </div>
    <div class="col-md-12 caption-lg-orange">
        <h3>@Model.TenSanPham</h3>

    </div>
    <div class="col-md-12 padding">
        <span class="caption-lg-red">Giá bán: @string.Format("{0:N0}",Model.GiaBan)</span>

    </div>
    <div class="col-md-12 padding">
        Số lượng: @Model.SoLuongTon
    </div>
    <div class="col-md-12 padding">
        @Html.Raw(HttpUtility.HtmlDecode(Model.MoTa))

    </div>
</div>